:root {
    --bg-color: #121212;
    --chat-bg: #1e1e1e;
    --chat-border: #333333;
    --my-message-color: linear-gradient(135deg, #007aff, #5ac8fa);
    --other-message-color: #333333;
    --text-color-light: #f5f5f5;
    --text-color-muted: #888888;
    --input-bg: #2b2b2b;
    --send-btn-color: #007aff;
    --header-bg: #252525;
    --header-border: #444444;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    color: var(--text-color-light);
}